
<div class="container">
<h1>Bienvenidos a la boletería AVIANCA online</h1>
<h2>¡No expongas a tu familia!</h2>
<p>Debido a la situación actual que atraviesa el país, ahora podés reservar tus boletos en línea y así evitar las 
    aglomeraciones y así proteger a nuestras familias y nosotros mismos del COVID-19.
<br>

Te ofrecemos vuelos hacia destinos como: Nicaragua, Panamá, El salvador, México, Estados Unidos, Canadá, Colombia, Venezuela y España

<br>
Podés consultar los requisitos correspondientes para poder viajar con nosotros  <app-modal></app-modal>.

</p>
<div class="img"> <img src="assets/img/planet.gif" style="width: 200px; margin-left:auto;margin-right: auto;">

</div>


 </div> 